<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statement Reader</title>
</head>
<body>
<heading>
    {{> global-navigation}}
</heading>
<section class="border wrapper">
    {{> transaction-list}}
</section>
<footer>
    {{> footer}}
</footer>
<script src="../app/bundle.js"></script>
</body>
</html>

